# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

stuffonharoldnet/wwwroot/\.sass-cache/3035b3601735518c3e1922c9035471820c105150/_harold\.scssc

stuffonharoldnet/wwwroot/\.sass-cache/3035b3601735518c3e1922c9035471820c105150/_stats\.scssc

stuffonharoldnet/wwwroot/\.sass-cache/3035b3601735518c3e1922c9035471820c105150/index\.scssc

stuffonharoldnet/wwwroot/index\.css\.map

stuffonharoldnet/Properties/PublishProfiles/stuffonharoldnet20180907072252 - Web Deploy\.pubxml

\.vscode/
