.harold-img{
}
#harolds {
	text-align: center;

	.harold-img:nth-child(2) {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		overflow: hidden;

		img {
		}
	}

	.harold-img:first-child img {
		animation: .1s sharpen;
	}

	.harold-img.drag {
		z-index: 20;
		img{
		background-color:#CCE6FF;
		}
	}

	.harold-img {
		height: 100%;

		img {
			box-shadow: 0 0 20px 5px #444;
			background-color: white;
			padding: 20px;
			padding-bottom: 40px;
			max-width: 90%;
		}

	}
}
@keyframes sharpen{
    from {
        filter: none;
    }
    to {
        filter: none;
    }
}
#harolds .harold-img.out_next_area {
    animation-name: out_next_area;
    animation-duration: $transform-rotate-duration;
    transform: rotateY(0deg);
}
#harolds .harold-img.in_next_area {
    animation-name: in_next_area;
    animation-duration: $transform-rotate-duration;
    transform: $transform-degree;
}